---
let about = `
Hi! i’m tejas agarwal, a high school student and tech & Open-source-software enthusiast.
<br> <br>
I’ve been programming for about 2 years and some of my favorite tech include rust-lang, svelte and flutter. after doing a bunch of high-level web/app development over the past few months, i am starting to get interested in a low-level software and how they work!
<br><br>
I also like playing guitar, making 3d art, lawn tennis and singing (even though im bad at it)
`;
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Tejas Agarwal</title>

	<meta name="author" content="Tejas Agarwal">
	<meta name="description" content="High school student, tech & open-source enthusiast.">
	<meta name="theme-color" content="#ffc2c0">
	<link rel="icon" type="image/x-icon" href="https://cloud-mj46j20wc-hack-club-bot.vercel.app/0favicon.ico" />
	<style global>
		@import "../styles/global.css";
	 	@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');
	</style>
	<style>
		.header {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.img {
			width: 75px;
			height: 75px;
		}

		.heading {
			font-size: 40px;
			color: #FFC2C0;
			font-weight:700;
			margin-left: 15px;
		}

		.content {
			margin-top: 1rem;
			max-width: 45vw;
			font-size: 20px;
			line-height: 30px;
			color:#FFE9E8 ;
			margin-bottom: auto;
			text-transform: lowercase;
		}

		.contact__header {
			margin-top: 3rem;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		.bar {
			width: 70px;
			height: 0px;
			border: 3px solid #FFC2C0;
			box-sizing: border-box;
		}

		.link {
			text-decoration-style: dotted;	
			text-decoration-line: underline;
			text-decoration-color: #FFC2C0;
		}

		.footer {
			color:#FFE9E8;
			font-size: 15px;
			opacity: 0.8;
			margin-top: 4rem;
		}

		@media only screen and (max-width: 600px) {
			.header {
				flex-direction: column;
				align-items: initial;
			}	

			.img {
				height: 100px;
				width: 100px;
			}

			.heading {
				margin-left: 0;
				margin-top: 10px;
				font-size: 50px;
			}

			.content {
				max-width: 75vw;
				margin-top: 2rem;
			}

			.bar {
				width: 0px;					
				border: none;
			}

			.footer {
				font-size: 17px;
				margin-top: 5rem;
				opacity: 0.7;
				padding-bottom: 2rem;
			}
		}

	</style>
</head>

<body>
	<div class="header">
		<img src="https://cloud-8qtp4x8ro-hack-club-bot.vercel.app/0image.png" alt="Image" class="img" />
		<span class="heading">Tejas Agarwal</span>
	</div>
	<div class="content" set:html={about}></div>
	<div class="contact__header">
		<div class="bar"></div>
		<div class="heading">get in touch</div>
	</div>
	<div class="content">
	find me on <span class="link"><a href="https://github.com/tejasag">github</a></span>, <span class="link"><a href="https://twitter.com/tejasag0">twitter</a></span> or shoot me an <span class="link"><a href="mailto:tejas.agarwal.bly@gmail.com">email!</a></span>
	</div>
	<div class="footer">
		made w/ ♥ by tejas | copyleft <span class="link"><a href="https://github.com/tejasag">@tejasag</a></span>
	</div>
</body>

</html>
