---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.svelte";
import Navbar from "../components/Navbar.svelte";
import About from "../components/About.svelte";
---

<Layout title="Tejas Agarwal">
  <div class="h-screen flex flex-col justify-between">
    <!-- <Navbar /> -->
    <Heading />
    <!-- <div></div> -->
  </div>
  <div>
    <About />
  </div>
</Layout>
